# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
Desktop.ini

# Folder config file
Folder.jpg
Folder.json
[Cc]ustom[Ii]con

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
